*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

header{
        background: rgb(43, 166, 43);
        flex-direction: column;
        color: white;
        height: 100px;
}

ul{
    list-style: none;
}
ul li{
    margin: 0 10px;
}

h1{
    margin: 10px 0;
}


main{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
}


.left{
    /* border: 2px solid black;     */
    margin-top: 20px;
    margin-left: 20px;
    /* box-shadow: 2px 8px 10px rgb(169, 169, 169); */
}

h3{
    color: green;
    margin-bottom: 20px;
}
.left .upper-left{
    margin-bottom: 40px;
    box-shadow: 2px 8px 10px rgb(169, 169, 169);
}

.upper-left, .lower-left, .right{
    height: 150px;
    width: 400px;
    padding: 20px;
    box-shadow: 2px 8px 10px rgb(169, 169, 169);
    border-radius: 5px;
    text-decoration: solid;
}


footer{
    background: #434343;
    color: white;
    height: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer div p{
    color: rgb(54, 232, 54);
    margin: 0 10px;
    padding: 0 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
